<!-- batch_operation.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>批量操作结果</title>
    </head>
    <body>
        <header>
            <h1>批量操作结果</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('manage_server') }}">返回服务器列表</a></li>
                </ul>
                <form action="{{ url_for('disconnect_servers') }}" method="POST">
                    <button type="submit">断开连接</button>
                </form>
            </nav>
        </header>
        <main>
            <section>
                <h2>连接成功的服务器：</h2>
                <ul id="connected-servers">
                </ul>
            </section>

            <section>
                <h2>连接失败的服务器：</h2>
                <ul id="failed-servers">
                </ul>
            </section>
            <section>
                <h2>操作：</h2>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value="hostname">查看主机名</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value="tasklist">查看进程</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Processor(_Total)\% Processor Time" -sc 1'>查询CPU占用率</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Memory\Available MBytes" -sc 1'>查询内存占用</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Network Interface(*)\Bytes Total/sec" -sc 1'>查询网络IO</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\PhysicalDisk(*)\Disk Bytes/sec" -sc 1'>查询磁盘IO</button>
                </form><br>

                <form action="/batch_execute" method="POST" onsubmit="editCommand()">
                    <label for="kill_command">输入要杀的进程（含后缀）:</label>
                    <input type="text" id="kill_command" name="command" style="width: 300px;">
                    <input type="submit" value="杀进程">
                </form><br>
                <form action="{{ url_for('batch_show_directory_files') }}" method="post">
                    <div class="form-group">
                        <label for="remote_dir_path">远程文件夹路径 （例如 C:\here）:</label>
                        <input type="text" class="form-control" id="remote_dir_path" name="remote_dir_path">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form><br>
                <form action="/batch_download" method="POST">
                    <label for="remote_file_path">远程文件路径（例如 D:\Yu\download_me.txt）：</label>
                    <input type="text" id="remote_file_path" name="remote_file_path"><br>
                    <label for="local_file_path">本地文件路径（例如 E:\try\copy_me.txt）：</label>
                    <input type="text" id="local_file_path" name="local_file_path"><br>
                    <input type="submit" value="下载">
                </form><br>
                <form action="/batch_upload" method="POST">
                    <label for="local_file_path">本地待上传文件（例如 E:\try\upload_me.docx）：</label>
                    <input type="text" id="local_file_path" name="local_file_path"><br>
                    <label for="remote_file_path">目标位置（例如 C:\here\copy_me.docx）：</label>
                    <input type="text" id="remote_file_path" name="remote_file_path"><br>
                    <input type="submit" value="上传">
                </form><br>
                <form action="/batch_execute" method="POST" onsubmit="return myCommand()">
                  <label for="command1">自定义调度名称</label>
                  <input type="text" id="command1" name="command" style="width: 300px;"><br>
                  <label for="command2">调度命令（含频率，时间等，如："python \"C:\Scripts\Empty Recycle Bin.py\"" /sc minute /mo 1）:</label><br>
                  <input type="text" id="command2" name="command2" style="width: 1000px;">
                  <input type="submit" value="执行">
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='schtasks /query /fo LIST /v'>显示所有调度</button>
                </form><br>
                <form action="/batch_execute" method="POST" onsubmit="deleteSchedule()">
                    <label for="delete_schedule">要删除的调度名称</label>
                    <input type="text" id="delete_schedule" name="command" style="width: 300px;"><br>
                    <input type="submit" value="执行">
                </form>

                <h2>执行命令：</h2>
                <form action="/batch_execute" method="POST">
                    <label for="command">执行命令:</label>
                    <input type="text" id="command" name="command" style="width: 1000px;">
                    <input type="submit" value="执行">
                </form><br>
            </section>

            {% if result %}
                <section>
                    <h2>结果:</h2>
                    <pre>{{ result }}</pre>
                </section>
            {% endif %}
        </main>


    <script>
        let connected_servers = {{ connected_servers | tojson }};
        let failed_servers = {{ failed_servers | tojson }};

        let connected_servers_list = document.getElementById("connected-servers");
        connected_servers.forEach(function(server) {
            let server_item = document.createElement("li");
            let server_text = document.createTextNode(server["hostname"] + " (" + server["ip_address"] + ")");
            server_item.appendChild(server_text);
            connected_servers_list.appendChild(server_item);
        });

        let failed_servers_list = document.getElementById("failed-servers");
        failed_servers.forEach(function(item) {
            let server = item["server"];
            let error = item["error"];
            let server_item = document.createElement("li");
            let server_text = document.createTextNode(server["hostname"] + " (" + server["ip_address"] + ") - " + error);
            server_item.appendChild(server_text);
            failed_servers_list.appendChild(server_item);
        });

        // 杀进程，补全命令
        function editCommand() {
            let commandInput = document.getElementById("kill_command");
            let originalCommand = commandInput.value;
            let newCommand = "taskkill /im " + originalCommand + " /f";
            commandInput.value = newCommand;
        }

        // 删除调度
        function deleteSchedule() {
            let commandInput = document.getElementById("delete_schedule");
            let originalCommand = commandInput.value;
            let newCommand = "schtasks /delete /tn " + originalCommand + " /f ";
            commandInput.value = newCommand;
        }

          // 自定义调度，接收两个inputs并改装
        function myCommand() {
            let commandInput1 = document.getElementById("command1");
            let commandInput2 = document.getElementById("command2");
            let originalCommand1 = commandInput1.value;
            let originalCommand2 = commandInput2.value;
            let newCommand = "schtasks /create /tn \"" + originalCommand1 + "\" /tr " + originalCommand2;
            document.getElementById("command").value = newCommand;
            commandInput1.value = newCommand;
          }
        </script>
    </body>
</html>
