<!-- batch_operation.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>批量操作结果</title>
    </head>
    <body>
        <header>
            <h1>批量操作结果</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('manage_server') }}">返回服务器列表</a></li>
                </ul>
                <form action="{{ url_for('disconnect_servers') }}" method="POST">
                    <button type="submit">断开连接</button>
                </form>
            </nav>
        </header>
        <main>
            <section>
                <h2>连接成功的服务器：</h2>
                <ul id="connected-servers">
                </ul>
            </section>

            <section>
                <h2>连接失败的服务器：</h2>
                <ul id="failed-servers">
                </ul>
            </section>
            <section>
                <h2>操作：</h2>
                <h4>防火墙：</h4>
                <form method="POST" action="/firewall">
                  <button type="submit" name="command" value="on">开启防火墙</button>
                  <button type="submit" name="command" value="off">关闭防火墙</button>
                </form>

                <h4>查询操作：</h4>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value="hostname">查看主机名</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value="tasklist">查看进程</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Processor(_Total)\% Processor Time" -sc 1'>查询CPU占用率</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Memory\Available MBytes" -sc 1'>查询内存占用</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\Network Interface(*)\Bytes Total/sec" -sc 1'>查询网络IO</button>
                </form><br>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='typeperf "\PhysicalDisk(*)\Disk Bytes/sec" -sc 1'>查询磁盘IO</button>
                </form><br>

                <h4>杀进程：</h4>
                <form action="/batch_execute" method="POST" onsubmit="editCommand()">
                    <label for="kill_command">输入要杀的进程（含后缀）:</label>
                    <input type="text" id="kill_command" name="command" style="width: 300px;">
                    <input type="submit" value="杀进程">
                </form><br>

                <h4>上传下载：</h4>
                <form action="{{ url_for('batch_show_directory_files') }}" method="post">
                    <div class="form-group">
                        <label for="remote_dir_path">远程文件夹路径 （例如 C:\here）:</label>
                        <input type="text" class="form-control" id="remote_dir_path" name="remote_dir_path">
                    </div>
                    <button type="submit" class="btn btn-primary">查询</button>
                </form><br>
                <form action="/batch_download" method="POST">
                    <label for="remote_file_path">远程文件路径（例如 D:\Yu\download_me.txt）：</label>
                    <input type="text" id="remote_file_path" name="remote_file_path"><br>
                    <label for="local_file_path">本地文件路径（例如 E:\try\copy_me.txt）：</label>
                    <input type="text" id="local_file_path" name="local_file_path"><br>
                    <input type="submit" value="下载">
                </form><br>
                <form action="/batch_upload" method="POST">
                    <label for="local_file_path">本地待上传文件（例如 E:\try\upload_me.docx）：</label>
                    <input type="text" id="local_file_path" name="local_file_path"><br>
                    <label for="remote_file_path">目标位置（例如 C:\here\copy_me.docx）：</label>
                    <input type="text" id="remote_file_path" name="remote_file_path"><br>
                    <input type="submit" value="上传">
                </form><br>

                <h4>调度：</h4>
                <form action="/batch_execute" method="POST" onsubmit="return myCommand()">
                    <label for="command1">自定义调度名称</label>
                    <input type="text" id="command1" name="command" style="width: 300px;"><br>
                    <label for="command2">执行失败后最大重试次数</label>
                    <input type="text" id="command2" name="command2" style="width: 100px;"><br>
                    <label for="command3">调度命令（含失败重试间隔，调度频率，时间等，如：(python \"C:\Scripts\Empty Recycle Bin.py\" || ping -n 20 localhost)" /sc daily /st 19:15</label><br>
                    <input type="text" id="command3" name="command3" style="width: 1000px;">
                    <input type="submit" value="执行">
                </form><br>

                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value='schtasks /query /fo LIST /v'>显示所有调度</button>
                </form><br>
                <form action="/batch_execute" method="POST" onsubmit="findSchedule()">
                    <label for="find_schedule">请输入要查询的调度</label>
                    <input type="text" id="find_schedule" name="command" style="width: 300px;"><br>
                    <input type="submit" value="执行">
                </form><br>
                <form action="/batch_execute" method="POST" onsubmit="runSchedule()">
                    <label for="run_schedule">请输入需要立即执行的调度</label>
                    <input type="text" id="run_schedule" name="command" style="width: 300px;"><br>
                    <input type="submit" value="执行">
                </form><br>


                <form action="/batch_execute" method="POST" onsubmit="deleteSchedule()">
                    <label for="delete_schedule">要删除的调度名称</label>
                    <input type="text" id="delete_schedule" name="command" style="width: 300px;"><br>
                    <input type="submit" value="执行">
                </form><br>

                <h4>读取、编辑文件：</h4>
                <form action="/read_file" method="POST">
                    <label for="read_file_path">文件路径(如C:/Scripts/edit_me.txt)</label>
                    <input type="text" id="read_file_path" name="read_file_path" style="width: 500px;">
                    <input type="submit" value="执行">
                </form><br>

                <form action="/edit_file" method="POST">
                    <label for="edit_file_path">文件路径(如C:/Scripts/edit_me.txt)</label>
                    <input type="text" id="edit_file_path" name="edit_file_path" style="width: 500px;"><br>
                    <label for="new_file_content">新内容</label>
                    <textarea id="new_file_content" name="new_file_content" style="width: 1000px; height: 200px;"></textarea>
                    <input type="submit" value="执行">
                </form><br>

                <h4>端口转发规则配置</h4>
                <form action="/port_forwarding_rule" method="POST">
                    <label for="remote_port">远程端口：</label>
                    <input type="text" id="remote_port" name="remote_port"><br><br>
                    <label for="local_port">本地端口：</label>
                    <input type="text" id="local_port" name="local_port"><br><br>
                    <input type="submit" value="提交规则">
                </form>

                <h4>软件安装，删除：</h4>
                <form method="POST" action="/batch_execute">
                    <button type="submit" name="command" value="wmic product get Name">查看已安装的软件</button>
                </form><br>
                <form action="/software_install" method="POST">
                    <label for="command">请输入.msi安装包路径，如C:\here\ZoomInstaller.msi</label><br>
                    <input type="text" id="command" name="command" style="width: 1000px;">
                    <input type="submit" value="安装">
                </form><br>
                <form action="/software_uninstall" method="POST">
                    <label for="command">请输入要删除的软件名，如：Zoom(64bit)。注：请先点击查看已安装的软件找到正确的软件名</label><br>
                    <input type="text" id="command" name="command" style="width: 1000px;">
                    <input type="submit" value="删除">
                </form><br>
                <form method="post" action="/show_directory">
                  <label for="remote_dir_path">查询文件夹下所有文件的路径，C:\here</label>
                  <input type="text" name="remote_dir_path" id="remote_dir_path" required>
                  <button type="submit">查询</button>
                </form>
                <form method="post" action="/batch_software_install">
                  <label for="software_dir">请输入软件安装包所在文件夹的路径，如C:\here</label>
                  <input type="text" name="software_dir" id="software_dir" required>
                  <button type="submit">安装全部软件</button>
                </form>

                <h2>执行命令：</h2>
                <form action="/batch_execute" method="POST">
                    <label for="command">执行命令:</label>
                    <input type="text" id="command" name="command" style="width: 1000px;">
                    <input type="submit" value="执行">
                </form><br>
            </section>

            {% if result %}
                <section>
                    <h2>结果:</h2>
                    <pre>{{ result }}</pre>
                </section>
            {% endif %}
        </main>

    <script>
        let connected_servers = {{ connected_servers | tojson }};
        let failed_servers = {{ failed_servers | tojson }};

        let connected_servers_list = document.getElementById("connected-servers");
        connected_servers.forEach(function(server) {
            let server_item = document.createElement("li");
            let server_text = document.createTextNode(server["hostname"] + " (" + server["ip_address"] + ")");
            server_item.appendChild(server_text);
            connected_servers_list.appendChild(server_item);
        });

        let failed_servers_list = document.getElementById("failed-servers");
        failed_servers.forEach(function(item) {
            let server = item["server"];
            let error = item["error"];
            let server_item = document.createElement("li");
            let server_text = document.createTextNode(server["hostname"] + " (" + server["ip_address"] + ") - " + error);
            server_item.appendChild(server_text);
            failed_servers_list.appendChild(server_item);
        });

        // 杀进程，补全命令
        function editCommand() {
            let commandInput = document.getElementById("kill_command");
            let originalCommand = commandInput.value;
            let newCommand = "taskkill /im " + originalCommand + " /f";
            commandInput.value = newCommand;
        }

        // 删除调度
        function deleteSchedule() {
            let commandInput = document.getElementById("delete_schedule");
            let originalCommand = commandInput.value;
            let newCommand = "schtasks /delete /tn " + originalCommand + " /f ";
            commandInput.value = newCommand;
        }

        // 查询调度
        function findSchedule() {
            let commandInput = document.getElementById("find_schedule");
            let originalCommand = commandInput.value;
            let newCommand = "schtasks /query /tn " + originalCommand + " /v";
            commandInput.value = newCommand;
        }

        // 立即实行
        function runSchedule() {
            let commandInput = document.getElementById("run_schedule");
            let originalCommand = commandInput.value;
            let newCommand = "schtasks /Run /tn " + originalCommand;
            commandInput.value = newCommand;
        }

          // 自定义调度，接收inputs并改装
        function myCommand() {
            let commandInput1 = document.getElementById("command1");
            let commandInput2 = document.getElementById("command2");
            let commandInput3 = document.getElementById("command3");
            let originalCommand1 = commandInput1.value;
            let originalCommand2 = commandInput2.value;
            let originalCommand3 = commandInput3.value;
            let newCommand = "schtasks /create /tn \"" + originalCommand1 + "\" /tr \"cmd /c for /l %i in (1,1," + originalCommand2 + ") do " + originalCommand3 + " /f /rl highest";
            document.getElementById("command").value = newCommand;
            commandInput1.value = newCommand;
          }


        </script>
    </body>
</html>
