<!-- 服务器列表 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到服务器列表</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>服务器列表</h1>
    <a href="/panel">返回操作面板</a>
    <table>
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkAll" />
                    <label for="checkAll">全选/取消</label>
                </th>
                <th>ID</th>
                <th>主机名</th>
                <th>用户名</th>
                <th>密码</th>
                <th>IP地址</th>
                <th>操作系统</th>
                <th>操作系统版本</th>
                <th>应用程序</th>
                <th>硬件配置</th>
                <th>安全设置</th>
                <th>日志和监控</th>
                <th>备份和恢复</th>
                <th>备注</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for row in data %}
            <tr>
                <td><input type="checkbox" name="servers" value="{{ row.id }}"></td>
                <td>{{ row.id }}</td>
                <td>{{ row.hostname }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.password }}</td>
                <td>{{ row.ip_address }}</td>
                <td>{{ row.operating_system }}</td>
                <td>{{ row.os_version }}</td>
                <td>{{ row.applications }}</td>
                <td>{{ row.hardware_configuration }}</td>
                <td>{{ row.security_settings }}</td>
                <td>{{ row.logs_and_monitoring }}</td>
                <td>{{ row.backup_and_recovery }}</td>
                <td>{{ row.note }}</td>
                <td>
                    <form method="POST" action="/server_connect/{{ row.id }}" style="display:inline;">
                        <input type="hidden" name="username" value="{{ row.username }}">
                        <input type="hidden" name="password" value="{{ row.password }}">
                        <input type="hidden" name="ip_address" value="{{ row.ip_address }}">
                        <button type="submit">登录</button>
                    </form>
                    <a href="/server_edit/{{ row.id }} ">修改</a>
                    <form class="delete-form" method="post" action="/server_delete/{{ row.id }}" style="display: inline;">
                        <button class="delete-button" type="submit">删除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="batch-connect-btn">批量登录选中的服务器</button>

    <form id="batch-form" method="POST" action="/batch_operation" style="display:none;">
        <input id="batch-servers" type="hidden" name="servers">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="/add_server">添加新服务器</a>
    <script>

        // 删除提示
        const deleteForms = document.querySelectorAll('.delete-form');

        deleteForms.forEach((form) => {
            const deleteButton = form.querySelector('.delete-button');

            deleteButton.addEventListener('click', (event) => {
                event.preventDefault(); // 阻止表单提交

                if (confirm('是否确认删除？')) {
                    form.submit(); // 提交表单
                }
            });
        });

        // 把表格中的数据传给后端
        const batchForm = document.getElementById('batch-form');
        const batchServers = document.getElementById('batch-servers');
        const batchConnectBtn = document.getElementById('batch-connect-btn');

        batchConnectBtn.addEventListener('click', () => {
            const selectedServers = document.querySelectorAll('input[name=servers]:checked');
            const serverData = Array.from(selectedServers).map((server) => {
                const row = server.parentNode.parentNode;
                return {
                    hostname: row.cells[2].textContent,
                    username: row.cells[3].textContent,
                    password: row.cells[4].textContent,
                    ip_address: row.cells[5].textContent
                }
            });

            batchServers.value = JSON.stringify(serverData);
            console.log(serverData);
            //把 serverData 发送到后端
            batchForm.submit(); // 如果需要提交表单，取消注释
        });


        // 匹配全选与checkbox之间的关系
        // 当全选变化时
        function toggleCheckAll() {
        const checkboxes = document.querySelectorAll('input[name=servers]');
        const checkAll = document.getElementById('checkAll');

        let allChecked = true;
        checkboxes.forEach((checkbox) => {
            if (!checkbox.checked) {
                allChecked = false;
            }
        });

        checkAll.checked = allChecked;
        }

        // 当checkbox变化时
        function toggleAllCheckboxes() {
            const checkboxes = document.querySelectorAll('input[name=servers]');
            const checkAll = document.getElementById('checkAll');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = checkAll.checked;
            });
        }

        const checkAll = document.getElementById('checkAll');
        checkAll.addEventListener('change', toggleAllCheckboxes);

        const checkboxes = document.querySelectorAll('input[name=servers]');
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
                toggleCheckAll();
            });
        });
    </script>
</body>
</html>
