<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到服务器信息页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>服务器信息</h1>
    <a href="/panel">返回操作面板</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>主机名</th>
                <th>用户名</th>
                <th>密码</th>
                <th>IP地址</th>
                <th>操作系统</th>
                <th>操作系统版本</th>
                <th>应用程序</th>
                <th>硬件配置</th>
                <th>安全设置</th>
                <th>日志和监控</th>
                <th>备份和恢复</th>
                <th>备注</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.hostname }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.password }}</td>
                <td>{{ row.ip_address }}</td>
                <td>{{ row.operating_system }}</td>
                <td>{{ row.os_version }}</td>
                <td>{{ row.applications }}</td>
                <td>{{ row.hardware_configuration }}</td>
                <td>{{ row.security_settings }}</td>
                <td>{{ row.logs_and_monitoring }}</td>
                <td>{{ row.backup_and_recovery }}</td>
                <td>{{ row.note }}</td>
                <td>
                    <form method="POST" action="/server_connect/{{ row.id }}" style="display:inline;">
                        <input type="hidden" name="username" value="{{ row.username }}">
                        <input type="hidden" name="password" value="{{ row.password }}">
                        <input type="hidden" name="ip_address" value="{{ row.ip_address }}">
                        <button type="submit">连接</button>
                    </form>

                    <a href="/server_edit/{{ row.id }} ">修改</a>
                    <form class="delete-form" method="post" action="/server_delete/{{ row.id }}" style="display: inline;">
                        <button class="delete-button" type="submit">删除</button>
                    </form>
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>添加新服务器信息</h2>
    <form method="post">
        <label>主机名</label>
        <input type="text" name="hostname" required>
        <br>
        <label>用户名</label>
        <input type="text" name="username">
        <br>
        <label>密码</label>
        <input type="text" name="password">
        <br>
        <label>IP地址</label>
        <input type="text" name="ip_address">
        <br>
        <label>操作系统</label>
        <input type="text" name="operating_system">
        <br>
        <label>操作系统版本</label>
        <input type="text" name="os_version">
        <br>
        <label>应用程序</label>
        <input type="text" name="applications">
        <br>
        <label>硬件配置</label>
        <input type="text" name="hardware_configuration">
        <br>
        <label>安全设置</label>
        <input type="text" name="security_settings">
        <br>
        <label>日志和监控</label>
        <input type="text" name="logs_and_monitoring">
        <br>
        <label>备份和恢复</label>
        <input type="text" name="backup_and_recovery">
        <br>
        <label>备注</label>
        <input type="text" name="note">
        <br>
        <button type="submit">添加</button>
    </form>

    <script>
        const deleteForms = document.querySelectorAll('.delete-form');

        deleteForms.forEach((form) => {
            const deleteButton = form.querySelector('.delete-button');

            deleteButton.addEventListener('click', (event) => {
                event.preventDefault(); // 阻止表单提交

                if (confirm('是否确认删除？')) {
                    form.submit(); // 提交表单
                }
            });
        });
    </script>


</body>
</html>