<!-- 操作面板 -->
<!DOCTYPE html>
<html lang="zh-han">
    <head>
        <title>操作面板</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>操作面板</h3>
        <p>{{ username }}，欢迎来到操作面板！</p>
        <p><a href="{{ url_for('edit') }}">修改个人信息</a> <a href="{{ url_for('logout') }}">退出</a></p>
        <p>（此处显示软件主要功能）</p>
        <p><a href="{{ url_for('manage_server') }}">服务器列表</a></p><br>
        <p><a href="{{ url_for('manage_operation') }}">操作记录</a></p><br>
        <p><a href="{{ url_for('file_edit_history') }}">文件编辑历史记录</a></p><br>
        <p><a href="{{ url_for('port_forwarding_rule_html') }}">端口转发规则记录</a></p><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>